{% extends 'base.html' %}
{% block title %}关于作者{% endblock %}
{% load staticfiles %}
{% block linkScript %}
<script type="text/javascript" src="{% static 'js/style.js' %}"></script>
{% endblock %}
{% block contents %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'images/4.jpg' %}" style="width:100%" data-src=" " alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>心河梦遥</h1>
                    <p>人生为棋，我愿为卒，行动虽慢，可谁曾见我退后一步</p>
                    <p><a class="btn btn-lg btn-primary" href="http://www.jianshu.com/users/3fbb887f05d0/latest_articles" target="_blank" role="button">简书博客</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'images/5.jpg' %}" style="width:100%" data-src="" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>爱好编程、音乐和摄影</h1>
                    <p>你如今的气质里，藏着你走过的路，读过的书，和爱过的人。</p>
                    <p><a class="btn btn-lg btn-primary" href="https://github.com/whaike/" target="_blank" role="button">Github</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'images/6.jpg' %}" style="width:100%" data-src="" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>天地与我共生，而万物与我唯一</h1>
                    <p>莽莽苍苍兮/群山巍峨/日月光照兮/纷纭错落/丝竹共振兮/执节者歌/行云流水兮/用心无多 求大道以弭兵兮/凌万物而超脱/觅知音固难得兮/唯天地与作合</p>
                    <p><a class="btn btn-lg btn-primary" href="http://whaike.lofter.com/" target="_blank" role="button">Lofter</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<h1>涉及私人信息，以下忽略</h1>


<script>
var change = document.getElementById("navbars")
change.childNodes[1].setAttribute("class","")
change.childNodes[3].setAttribute("class","")
change.childNodes[5].setAttribute("class","active")
</script>
{% endblock %}
